.wrapper {
  margin: 100px auto;
  width: 560px;
  height: 350px;
  border: 1px solid #bfbfbf;
}

form {
  display: flex;
  border: 1px solid #8e8787;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  margin: 10px  10px 0 10px;
  width: 540px;
}

label {
  display: flex;
  margin-bottom: 27px;
  padding: 10px 15px 0 15px;

}

span {
  display: block;
  width: 85px;
}

input {
  width: 180px;
}

.prompt_1,
.prompt_2,
.prompt_3 {
  display: block;
  opacity: 0;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  width: 230px;
  box-shadow: 0 0 10px #bfbfbf;
}

.prompt_1 p,
.prompt_2 p,
.prompt_3 p {
  margin: 12px 12px;
}

button {
  color: #6d6868;
  background: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 0 0 10px;
  padding: 7px 13px;
}
