.wrapper {
  margin: 100px auto;
  width: 520px;
  height: 350px;
  border: 1px solid #bfbfbf;
}

form {
  border: 1px solid #8e8787;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  margin: 10px  10px 0 10px;
  width: 500px;
}

label {
  display: flex;
  margin-bottom: 20px;
  padding: 10px 15px;

}

span {
  display: block;
  width: 85px;
}

input {
  width: 180px;
}

.prompt_1,
.prompt_2,
.prompt_3 {
  border: 1px solid #bfbfbf;
  width: 200px;
}

.prompt_1 p,
.prompt_2 p,
.prompt_3 p {
  margin: 8px 6px;
}

button {
  color: #6d6868;
  background: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 0 0 10px;
  padding: 7px 13px;
}
